.background-image {
  background-image: url("https://cdn.pixabay.com/photo/2021/09/15/15/49/resume-6627200_960_720.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.heading-contents {
  font-family: poppins;
  color: rgb(226, 87, 173);
  font-weight: bold;
}

.heading-1-contents {
  font-family: poppins;
  font-weight: bolder;
  color: rgb(23, 199, 212);
}
.font-family {
    font-family: poppins ;
    font-weight: bold;
    color: burlywood;

}
.font-family:hover{
    color: rgb(48, 107, 8);
}
